#container {
    display: flex;
    flex-direction: column;
    max-width: 960;
}

.row {
    display: flex;
    flex-direction: row;
}

.grid {
    background-color: black;
    margin: 1px;
}

.reset-btn, 
.mosiac-btn {
    padding: 10px;
    width: 960px;
    margin-bottom: 10px;
}